@import "tailwindcss";

@theme {
  --font-syne: var(--font-syne);

  --color-nebulaBG: #26215C;
  --color-nebulaAccent: #3C3489;
  --color-nebulaHighlight: #1D9E75;
}

.general-text {
  @apply font-syne text-white
}
